<!-- <?php

// @include 'config.php';

// if(isset($_POST['submit'])){

//    $name = mysqli_real_escape_string($conn, $_POST['name']);
//    $email = mysqli_real_escape_string($conn, $_POST['email']);
//    $pass = md5($_POST['password']);
//    $cpass = md5($_POST['cpassword']);
//    $user_type = $_POST['user_type'];
//    strtolower($user_type);


//    $select = " SELECT * FROM user_form WHERE email = '$email' && password = '$pass' ";

//    $result = mysqli_query($conn, $select);

//    if(mysqli_num_rows($result) > 0){

//       $error[] = 'user already exist!';

//    }else{

//       if($pass != $cpass){
//          $error[] = 'password not matched!';
//       }else{
//          $insert = "INSERT INTO user_form(name, email, password, user_type) VALUES('$name','$email','$pass','$user_type')";
//          mysqli_query($conn, $insert);
//          header('location:login_form.php');
//       }
//    }

// };


?> -->

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>register form</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">

</head>
<body>
   
<div class="form-container">

   <form action="{{ url_for('_route_admin.register_admin')}}" method="POST">
      
      <div>
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
               {% for category, message in messages %}
                  {% if category == 'success_register' %}
                     <div class="">
                        <div class="">
                           <div class="">
                              <div style="padding: 10%; color: rgb(47, 241, 47); font-size: 25px; font-weight: 700">
                                 <center>
                                    {{ message }}
                                 </center>
                                 <script>
                                    window.setTimeout(function () {
                                       window.location.reload();
                                      }, 3000);
                                 </script>
                              </div>
                           </div>
                        </div>
                     </div>
                  {% elif category == 'error' %}
                     <div class="">
                        <div class="">
                           <div class="">
                              <div style="padding: 10%; color: rgb(180, 29, 29); font-size: 25px; font-weight: 700">
                                 <center>
                                    {{ message }}
                                 </center>
                                 <script>
                                    window.setTimeout(function () {
                                       window.location.reload();
                                    }, 3000);
                                 </script>
                              </div>
                           </div>
                        </div>
                     </div>
                  {% elif category == 'info' %}
                     <div class="">
                        <div class="">
                           <div class="">
                              <div style="padding: 10%; color: rgb(47, 241, 47);	 font-size: 25px; font-weight: 700">
                                 <center>
                                    {{ message }}
                                 </center>
                                 <script>
                                    window.setTimeout(function () {
                                       window.location.reload();
                                    }, 3000);
                                 </script>
                              </div>
                           </div>
                        </div>
                     </div>
                  {% endif %}
               {% endfor %}
            {% endif %}
         {% endwith %}
      </div>
      <h3>Register now</h3>
      <input type="text" name="first_name" required placeholder="Enter your First name">
      <input type="text" name="middle_name" required placeholder="Enter your Middle name">
      <input type="text" name="last_name" required placeholder="Enter your Last name">
      <input type="email" name="email" required placeholder="Enter your email">
      <input type="password" name="password" required placeholder="Enter your password">
      <input type="password" name="code" required placeholder="Code">
      <input type="text" name="user_type" required placeholder="Admin" value="Admin" readonly="true">

      <!-- <select name="user_type">
         <option value="student">Student</option>
         <option value="admin">Admin</option>
      </select> -->
      <input type="submit" name="submit" value="register now" class="form-btn">
      <p>Already have an account? <a href="/login_admin_form">Login now</a></p>
   </form>

</div>

</body>
</html>